- if comments.empty?
  %p No comments yet, feel free to add one!
- else
  /= render 'comment'
  %ul
    - post.comments.each do |comment|
      %li.comment--short-size
        .comment__body
          = comment.body
          -if comment.abusive
            = link_to "Unhide", mark_as_not_abusive_post_comment_path(post, comment), class: 'post__button--unhide'
          
          %br
          = 'by: ' + comment.user.name
        = link_to "+ VOTE UP", vote_up_post_comment_path(post, comment), class: 'vote_up'
        = link_to "+ VOTE DOWN", vote_down_post_comment_path(post, comment), class: 'vote_down'
