= render post
.comment--full-size
  %h2
    Comments
    %small
      /= "(#{post.comments.count})"
      = "(#{comments.count})"
  .add_comment
    = simple_form_for [post, Comment.new], html: { class: "form-left" } do |f|
      /= f.error_notification
      /= display_base_errors
      = f.input :body, as: :text, input_html: { cols: 50, rows: 3 }, label: 'Add comment'#false
      = f.button :submit
  = render 'comment'

          
