/= render 'post'
.post--full-size
  %h2
    = post.title
    %small
      = #post.created_at
      = post.friendly_date
  = link_to "edit", edit_post_path(post), class: 'post__button--edit'

  .post__body
    = post.body
  .post__tags-list.tagsinput
    - post.tags_array.each do |tag|
      = content_tag :span, tag, class: 'tag'
.comment--full-size
  %h2
    Comments
    %small
      = "(#{post.comments.count})"


  /- if post.comments.count == 0 #post.comments.empty?
  - if post.comments.empty?
    %p No comments!
  - else
    %ol
      - post.comments.each do |comment|
        %li.comment--short-size
          /= "(#{post.comments.count})"
          - if comment.abusive
            = "Comment abusive"
          - else
            .comment__body= comment.body
            = link_to "+  VOTE UP", '#', class: 'vote_up' 
            = link_to "-  VOTE  DOWN", '#', class: 'vote_down'
            = current_user
            /= comment.vote.votes_count

    %ol
      - @comments.each do |comment|
        %li.comment--short-size
          /= "(#{post.comments.count})"
          - if comment.abusive
            = "Comment abusive"
          - else
            .comment__body= comment.body
            = link_to "+  VOTE UP", vote_up_post_comment_path(comment), class: 'vote_up' 
            = link_to "-  VOTE  DOWN", '#', class: 'vote_down'
            = current_user


  .add_comment
    = render 'comment'



/<% @post.comments.each do |comment| %>
/  <p>
/    <strong>Commenter:</strong>
/    <%= comment.commenter %>
/  </p>
/  <p>
/    <strong>Comment:</strong>
/    <%= comment.body %>
/  </p>
/<% end %>