/= render 'post'
.post--full-size
  %h2
    = post.title
    %small
      = #post.created_at
      = post.friendly_date
  = link_to "edit", edit_post_path(post), class: 'post__button--edit'

  .post__body
    = post.body
  .post__tags-list.tagsinput
    - post.tags_array.each do |tag|
      = content_tag :span, tag, class: 'tag'
.comment--full-size
  %h2
    Comments
    %small
      = "(#{post.comments.count})"
  = post.comments.empty?
  = post.comments.exists?
  = post.comments.blank?

  .add_comment
    = simple_form_for [post, post.comments.build], html: { class: "form-left" } do |f|
      = f.error_notification
      = display_base_errors post.comments.build
      = f.input :body, as: :text, input_html: { cols: 50, rows: 3 }, label: 'Add comment'
      = f.button :submit

    /= render post.comments
  = "(#{post.comments.count})"
  = post.comments.empty?
  = post.comments.exists?
  = post.comments.blank?

  /- if post.comments.count == 0 #post.comments.empty?
  - if !post.comments.exists?
    %p No comments!
  - else
    = render 'comment'
